# PyLunch Nova 
## August 8, 2017

## [Data Indexing and Selection](PythonDataScienceHandbook/notebooks/03.02-Data-Indexing-and-Selection.ipynb)

(Continued from last time from book cell ~24)

In [1]:
# these are all from the cells already done in the section
import pandas as pd
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

## [Interlude on Astropy Tables](astropy-tables-interlude-1.ipynb)

(not from book)

## [Operating on Data in Pandas](PythonDataScienceHandbook/notebooks/03.03-Operations-in-Pandas.ipynb)

## [Handling Missing Data](PythonDataScienceHandbook/notebooks/03.04-Missing-Values.ipynb)